*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('1.jpg') ;
    background-size: cover;
}
section h1{
    text-transform: capitalize;
    font-size: 2rem;
    color: rgb(85, 3, 3);
    background: linear-gradient(rgb(218, 164, 172), rgb(228, 228, 228));
    text-shadow: 2px 5px 5px rgb(68, 66, 66);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 30px;
    animation: slider 1s linear infinite;
    animation-direction: alternate;
}
@keyframes slider{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(40px);
    }
}
.centerdiv{
    width: 450px;
    height: 450px;
    background: linear-gradient(rgb(246, 250, 38),rgba(212, 235, 130, 0.589));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    border-radius: 50%;
}

.insertbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#v1, #v2{
    text-align: center;
    padding: 20px 20px;
    margin: 0 30px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    box-shadow: 1px 1px 0px #111,
                2px 2px 0px #111,
                3px 3px 0px #111,
                4px 4px 0px #111,
                5px 5px 0px #111,
                6px 6px 0px #111;
    border-radius: 50%;
    outline: none;
    

}

.box1 p{
    font-size: 60px;
}

.middlebox #answer{
    margin: 20px 0;
    padding: 5px 0;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 40%;
    box-shadow: 1px 1px 0px #111,
                2px 2px 0px #111,
                3px 3px 0px #111,
                4px 4px 0px #111,
                5px 5px 0px #111,
                6px 6px 0px #111;
    outline: none;
}

.sentbox button{
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: rgb(24, 114, 16);
    color: #FFF;
    cursor: pointer;
}

h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(16, 53, 8);
    text-align: center;
    padding: 10px 0;
}
